[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pixelsorter = {path = "./PixelSorter"}
opencv-python = "*"
moviepy = "*"
numpy = "*"
awesome-progress-bar = "*"

[dev-packages]

[requires]
python_version = "3.8"
